.login-page-container {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.login-page-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #257180;
}

.login-page-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-page-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #155e75;
}

.login-page-form-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.login-page-form-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.login-page-form {
    display: flex;
    flex-direction: column;
}

.login-page-label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #ddd;
}

.login-page-input {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
}

.login-page-input::placeholder {
    color: #888;
}

.login-page-button {
    padding: 10px;
    background-color: #006d88;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.login-page-button:hover {
    background-color: #004f63;
}

.login-page-error {
    color: #ff4d4d;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.login-page-link {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.login-page-register-link {
    color: #006d88;
    text-decoration: underline;
    font-weight: 500;
}

.login-page-register-link:hover {
    color: #004f63;
}